@"
# General
audit=false
fund=false
update-notifier=false
ignore-workspace-root-check=true

# Peer deps
auto-install-peers=true
strict-peer-dependencies=true

# Workspace
prefer-workspace-packages=true
link-workspace-packages=deep

# Hoisting
hoist=true
shamefully-hoist=false
hoist-workspace-packages=true

# Performance
package-import-method=hardlink
"@ | Out-File -FilePath .npmrc -Encoding utf8
